@{
    ViewData["Title"] = "Exercicio 04";
}
<div class="card">
    <div class="card-body">
        <h5 class="card-title" data-toggle="tooltip" data-placement="top" title="Consuma o webservice dos correios passando um CEP qualquer e mostre em tela o endereço que o mesmo retornar. ">Exercicio 04</h5>
  
        <div class="form-group col-md-6">
            <label for="number">Digite o cep aqui</label>
            <input onfocusout="verificaNumber()" id="number" type="text" class="form-control"/>            
        </div> 

    </div>
</div>

<script src="~/js/Scripts/Exercicio04/Exercicio04.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>