@{
    ViewData["Title"] = "Exercicio 06";
}
<meta charset="utf-8" />
<div class="card">
    <div class="card-body">
        <h5 class="card-title" data-toggle="tooltip" data-placement="top" title="Faça uma consulta de SQL-Server que exibi a idade em anos a partir da seguinte variável: DECLARE 'nasc' as varchar(11)='17/04/2008'">Exercicio 06</h5>
  
    </div>
</div>

<script src="~/js/Scripts/Exercicio06/Exercicio06.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>