@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Olá</h1>
    <p>Projeto desenvolvido por Matheus Luan para teste prático.</p>
    <a style="margin:15px 0" href="https://github.com/matheusluan/ExercicioPratico" target="_blank" class="btn btn-primary"> Go to GitHub</a>

    <div class="row" style="margin-bottom:15px">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Exercicio 01</h5>
            <p style="min-height:150px" class="card-text">Crie uma aplicação que permita a digitação de números e mostre esses
            números em tela de forma ordenada. Ou seja, desenvolver uma lógica que
            deverá permitir a inclusão de n números em qualquer sequência e em seguida
            exibi-los em ordem crescente.</p>
            <a href="/Exercicio01" class="btn btn-primary">Go to Ex 01</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Exercicio 02</h5>
            <p style="min-height:150px" class="card-text">Disponibilize uma opção de gravar os números visualizados em um arquivo txt.</p>
            <a href="/Exercicio02" class="btn btn-primary">Go to Ex 02</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Exercicio 03</h5>
            <p style="min-height:150px" class="card-text">Consuma o webservice dos correios passando um CEP qualquer e mostre em tela o endereço que o mesmo retornar. </p>
            <a href="/Exercicio03" class="btn btn-primary">Go to Ex 03</a>
          </div>
        </div>
      </div>     
    </div>
    <div class="row" style="margin-bottom:15px">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Exercicio 04</h5>
            <p style="min-height:150px" class="card-text">Faça uma aplicação que verifique se um valor é perfeito ou não. Um valor é dito perfeito quando ele é igual a soma dos seus divisores, exceto ele próprio. </p>
            <a href="/Exercicio04" class="btn btn-primary">Go to Ex 04</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Exercicio 05</h5>
            <p style="min-height:150px" class="card-text">Faça um programa que receba um número e usando laços de repetição calcule e mostre a tabuada desse número.</p>
            <a href="/Exercicio05" class="btn btn-primary">Go to Ex 05</a>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Exercicio 06</h5>
            <p style="min-height:150px" class="card-text">Faça uma consulta de SQL-Server que exibi a idade em anos a partir da seguinte variável: DECLARE nasc as varchar(11)='17/04/2008' </p>
            <a href="/Exercicio06" class="btn btn-primary">Go to Ex 06</a>
          </div>
        </div>
      </div>     
    </div>
     <div class="row" style="margin-bottom:15px">
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Exercicio 07</h5>
            <p style="min-height:150px" class="card-text">Disponibilize os exercícios no git.</p>
            <a href="/Exercicio07" class="btn btn-primary">Go to Ex 07</a>
          </div>
        </div>
      </div>
     </div>
</div>
