@{
    ViewData["Title"] = "Exercicio 07";
}
<meta charset="utf-8" />
<div class="card">
    <div class="card-body">
        <h5 class="card-title" data-toggle="tooltip" data-placement="top" title="Disponibilize os exercícios no git.">Exercicio 07</h5>
         
        <div class="card" style="width: 18rem;">          
          <div class="card-body">
            <h5 class="card-title">Git Hub </h5>
            <p class="card-text">Esse projeto foi desenvolvido como exercicio pratico.</p>
            <a href="https://github.com/matheusluan/ExercicioPratico" target="_blank" class="btn btn-primary"> Go to GitHub</a>
          </div>
        </div>   
    </div>
</div>

<script src="~/js/Scripts/Exercicio07/Exercicio07.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>